*{
  margin:0px;
  padding:0px;
}
.App{
  overflow-y: hidden;
}
.Top{
  margin-top: 20px;
}
.italic{
  font-size:medium;
  font-weight: 400;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}